<!doctype html>
<head>
    <!-- Basic Page Needs =========== -->
    <meta charset="utf-8">
    <title>Bodyflex</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='../css/bootstrap.css'>
    <link rel='stylesheet' href='../css/flexslider.css'>
    <link rel='stylesheet' href='../js/fancybox/jquery.fancybox.css'>
    <link rel='stylesheet' href='../style.css'>
    <link rel='stylesheet' href='../css/mediaqueries.css'>
    <link rel='stylesheet' href='../colors/default.css'>
    
    <!-- Favicons
    ================================================== -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../imagenes/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../imagenes/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../imagenes/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="../imagenes/apple-touch-icon-57.png">
    <link rel="shortcut icon" href="../imagenes/favicon.ico">   

</head>
<body class="">

<div id="page">
    
    <!-- 
    <header id="header">
        <div class="container">
            <div class="col-sm-4">
                <h1 id="logo">
                    <a class='current' href="./index.php">
                        <img src="../logo/logo.png" alt="Bodyflex"/>
                    </a>
                </h1>
            </div>
        </div>
    </header>
    -->
    <br>
    <main id="main" class="container" style="width: 650px;">
        <article class="row entry" style="width: 600px;">
            <div class="entry-content" style="width: 600px;">
                <h1 class="entry-title"><a>Estimado visitante.</a></h1>
                <p style="text-align: justify;">
                    Sólo miembros de la comunidad pueden votar la publicaci&oacute;n!.<br>
                    Registrate y se parte de nuestra comunidad de profesionales del deporte!
                </p>
                <a class="button read-more" href="single.html">Registro</a>
            </div>
        </article>
    </main>
    <br>
    
    <main id="main" class="container" style="width: 650px;">
        <article class="row entry" style="width: 600px;">
            <div class="entry-content" style="width: 600px;">
                <h1 class="entry-title"><a>Estimado visitante.</a></h1>
                <p style="text-align: justify;">
                    Sólo miembros de la comunidad pueden votar la publicaci&oacute;n!.<br>
                    Registrate y se parte de nuestra comunidad de profesionales del deporte!
                </p>
                <a class="button read-more" href="single.html">Registro</a>
            </div>
        </article>
    </main>
</div> <!-- #page -->


</body>
</html>