<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row">
            <div class="col-sm-12 col-lg-offset-1 col-sm-offset-0">
                <div id="pagination">
                    <span>Page 1 of 3</span>
                    <a href="" class="current">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                </div>
            </div>
        </div>
    </body>
</html>
